%% By default, use Github
{plugins, [
  {'lfe-compile',
    {git, "https://github.com/lfe-rebar3/compile.git", {branch, "master"}}}
  ]}.

{provider_hooks, [
  {pre, [{compile, {lfe, compile}}]}
  ]}.

{profiles, [
   %% As an alternative to the default Github repos, you can use the Gitlab
   %% mirror with the following:
   %%   $ rebar3 as gitlab compile
   {gitlab, [
     {plugins, [
        {'lfe-compile', {git, "https://gitlab.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc2"}}}]}
      ]},
   %% Or use Hex.pm instead with:
   %%   $ rebar3 as hexpm compile
   {hexpm, [
     {plugins, [
        {rebar3_lfe_compile, "0.8.0-rc2"}]}
      ]}
  ]}.
